html {
    box-sizing: border-box;
    background-image: url(./images/pattern.png);
    background-size: cover;
    margin: auto;
}

body,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    width: 60%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
}

td,
th {
    padding: 15px;
    border: 1px solid #93af51;
    font-family: 'Work Sans', sans-serif;
}

th {
    color: #fff;
    background-color: #93af51;
}

table {
    border: 2px solid #93af51;
    width: 100%;
}

h1 {
    font-family: 'Rock Salt', cursive;
}

h2 {
    font-family: 'Suez One', serif;
}

h1,
h2 {
    text-align: center;
}

td code {
    color: #fff;
    background-color: #93af51;
    padding: 5px;
}